.login_form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #ffd972;
  .login {
    input {
      background-color: #ffd972;
      margin-bottom: 30px;
      border: 0px solid;
      border-bottom: 2px solid black;
    }
    .login_form_btn {
      background-color: #ffd972;
      font-family: Caveat;
      font-size: 25px;
      width: 158px;
      height: 52px;
      border: 0px solid;
      border-radius: 50px;
      box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.16);
    }
  }
  .sign_up {
    input {
      background-color: #ffd972;
      margin-bottom: 30px;
      border: 0 solid;
      border-bottom: 2px solid black;
    }
    .signin_btn {
      background-color: #ffd972;
      font-family: Caveat;
      font-size: 25px;
      width: 158px;
      height: 52px;
      border: 0px solid;
      border-radius: 50px;
      box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.16);
    }
  }
}

@media only screen and (max-width: 375px) {
  .login_form {
    flex-direction: column;

    //margin-left: -10rem;
    //padding-left: 8rem;
    .login {
      top: 0;
    }
    .sign_up {
      bottom: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .login_form {
    padding-top: 5rem;
    padding-left: 3rem;
    flex-direction: column;
    .login {
      top: 0;
    }
    .sign_up {
      bottom: 0;
    }
  }
}
